## Feature selection

After feature generation, you're often left with hundreds or thousands of features. This has two problems. 

1. With more features, it is more likely that we will overfit the training and validation sets, leading the model to perform worse at generalizing to new data. 
2. With more features, the model takes longer to train, as well as to optimize hyperparameters. 

When building user-facing products, you'll want to make inference as fast as possible. Using fewer features can speed up inference at the cost of predictive performance.

All these reasons are why we want to use feature selection techniques that keep the most informative features for the model.

In [ ]:
import itertools
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [2]:
ks = pd.read_csv('../data/ks-projects-201801.csv',
                 parse_dates=['deadline', 'launched'])

# Drop live projects
ks = ks.query('state != "live"')

# Add outcome column, "successful" == 1, others are 0
ks = ks.assign(outcome=(ks['state'] == 'successful').astype(int))

# Timestamp features
ks = ks.assign(hour=ks.launched.dt.hour, day=ks.launched.dt.day, month=ks.launched.dt.month,
               year=ks.launched.dt.year)

# Label encoding
cat_features = ['category', 'currency', 'country']
encoder = LabelEncoder()
encoded = ks[cat_features].apply(encoder.fit_transform)

data_cols = ['goal', 'hour', 'day', 'month', 'year', 'outcome']
baseline_data = ks[data_cols].join(encoded)

cat_features = ['category', 'currency', 'country']
interactions = pd.DataFrame(index=ks.index)
for col1, col2 in itertools.combinations(cat_features, 2):
    new_col_name = '_'.join([col1, col2])
    # Convert to strings and combine
    new_values = ks[col1].map(str) + "_" + ks[col2].map(str)
    label_enc = LabelEncoder()
    interactions[new_col_name] = label_enc.fit_transform(new_values)
baseline_data = baseline_data.join(interactions)

launched = pd.Series(ks.index, index=ks.launched, name="count_7_days").sort_index()
count_7_days = launched.rolling('7d').count() - 1
count_7_days.index = launched.values
count_7_days = count_7_days.reindex(ks.index)

baseline_data = baseline_data.join(count_7_days)

In [3]:
def time_since_last_project(series):
    # Return the time in hours
    return series.diff().dt.total_seconds() / 3600.

df = ks[['category', 'launched']].sort_values('launched')
timedeltas = df.groupby('category').transform(time_since_last_project)
timedeltas = timedeltas.fillna(timedeltas.max())

baseline_data = baseline_data.join(timedeltas.rename({'launched': 'time_since_last_project'}, 
                                                     axis=1))

def get_data_splits(dataframe, valid_fraction=0.1):
    valid_fraction = 0.1
    valid_size = int(len(dataframe) * valid_fraction)

    train = dataframe[:-valid_size * 2]
    # valid size == test size, last two sections of the data
    valid = dataframe[-valid_size * 2:-valid_size]
    test = dataframe[-valid_size:]
    
    return train, valid, test

def train_model(train, valid):
    feature_cols = train.columns.drop('outcome')

    dtrain = lgb.Dataset(train[feature_cols], label=train['outcome'])
    dvalid = lgb.Dataset(valid[feature_cols], label=valid['outcome'])

    param = {'num_leaves': 64, 'objective': 'binary', 
             'metric': 'auc', 'seed': 7}
    print("Training model!")
    bst = lgb.train(param, dtrain, num_boost_round=1000, valid_sets=[dvalid], 
                    early_stopping_rounds=10, verbose_eval=False)

    valid_pred = bst.predict(valid[feature_cols])
    valid_score = metrics.roc_auc_score(valid['outcome'], valid_pred)
    print(f"Validation AUC score: {valid_score:.4f}")
    return bst

### Univariate feature selection

It's simplest and fastest to do univariate statistical tests. 

For each feature, we measure how strongly the target depends on the feature using a statistical test like `ANOVA` or $\chi^2$.

In the `sklearn` feature selection module, `feature_selection.SelectKBest` returns the K best features given some scoring function. For our classification problem, the module provides three different scoring functions: `ANOVA` F-value, $\chi^2$, and the mutual information score. 


The F-value measures the linear dependency between the feature variable and the target. This means the score might underestimate the relation between a feature and the target if the relationship is nonlinear. The mutual information score is nonparametric and so can capture nonlinear relationships.

With `SelectKBest`, we define the number of features to keep, based on the score from the scoring function. 

Using `.fit_transform(features, target)` we get back an array with only the selected features.

In [4]:
baseline_data.head()

,goal,hour,day,month,year,outcome,category,currency,country,category_currency,category_country,currency_country,count_7_days,time_since_last_project
0,1000.0,12,11,8,2015,0,108,5,9,1215,1900,18,1409.0,18.606111
1,30000.0,4,2,9,2017,0,93,13,22,1047,1630,31,957.0,5.592778
2,45000.0,0,12,1,2013,0,93,13,22,1047,1630,31,739.0,1.313611
3,5000.0,3,17,3,2012,0,90,13,22,1024,1595,31,907.0,0.635000
4,19500.0,8,4,7,2015,0,55,13,22,630,979,31,1429.0,16.661389

The F ratio is the ratio of two mean square values. If the null hypothesis is true, you expect F to have a value close to 1.0 most of the time. A large F ratio means that the variation among group means is more than you'd expect to see by chance.

See this link for the other score functions, `f_classif` is the ANOVA one. 

https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html

In [5]:
from sklearn.feature_selection import SelectKBest, f_classif

feature_cols = baseline_data.columns.drop('outcome')

# Keep 5 features
selector = SelectKBest(f_classif, k=5)

X_new = selector.fit_transform(baseline_data[feature_cols],
                                baseline_data['outcome'])
X_new

array([[2015.,    5.,    9.,   18., 1409.],
       [2017.,   13.,   22.,   31.,  957.],
       [2013.,   13.,   22.,   31.,  739.],
       ...,
       [2010.,   13.,   22.,   31.,  238.],
       [2016.,   13.,   22.,   31., 1100.],
       [2011.,   13.,   22.,   31.,  542.]])

We've actually just allowed target-contamination, because we've calculated the statistical tests using all of the data. This means information from the validation and test sets could influence the features we keep, introducing a source of leakage. 

We should select features using only a training set.

In [6]:
feature_cols = baseline_data.columns.drop('outcome')
train, valid, _ = get_data_splits(baseline_data)

# Keep 5 features
selector = SelectKBest(f_classif, k=5)

X_new = selector.fit_transform(train[feature_cols], train['outcome'])
X_new

array([[2.015e+03, 5.000e+00, 9.000e+00, 1.800e+01, 1.409e+03],
       [2.017e+03, 1.300e+01, 2.200e+01, 3.100e+01, 9.570e+02],
       [2.013e+03, 1.300e+01, 2.200e+01, 3.100e+01, 7.390e+02],
       ...,
       [2.011e+03, 1.300e+01, 2.200e+01, 3.100e+01, 5.150e+02],
       [2.015e+03, 1.000e+00, 3.000e+00, 2.000e+00, 1.306e+03],
       [2.013e+03, 1.300e+01, 2.200e+01, 3.100e+01, 1.084e+03]])

The selected features are a bit different than when we used the entire dataset. 

This shows us only the feature values for the training set. We need to figure out which columns in the dataset were kept with `SelectKBest`. We can do this using `.inverse_transform` to get back an array with the shape of the original data.

In [10]:
# Demo of how this works in pd.DataFrame
pd.DataFrame(data=[[1, 2], [5, 3]], index=['a', 'b'], columns=['first', 'second'])

   first  second
a      1       2
b      5       3

In [7]:
# Get back the features we've kept, zero out all other features
selected_features = pd.DataFrame(selector.inverse_transform(X_new), 
                                index=train.index, columns=feature_cols)

In [11]:
selected_features.head()

,goal,hour,day,month,year,category,currency,country,category_currency,category_country,currency_country,count_7_days,time_since_last_project
0,0.0,0.0,0.0,0.0,2015.0,0.0,5.0,9.0,0.0,0.0,18.0,1409.0,0.0
1,0.0,0.0,0.0,0.0,2017.0,0.0,13.0,22.0,0.0,0.0,31.0,957.0,0.0
2,0.0,0.0,0.0,0.0,2013.0,0.0,13.0,22.0,0.0,0.0,31.0,739.0,0.0
3,0.0,0.0,0.0,0.0,2012.0,0.0,13.0,22.0,0.0,0.0,31.0,907.0,0.0
4,0.0,0.0,0.0,0.0,2015.0,0.0,13.0,22.0,0.0,0.0,31.0,1429.0,0.0

This is a DatFrame with the same index and columns as the training set, but all the dropped columns are filled with zeros. 

One way to find the selected columns is by choosing features where the variance is non-zero.

In [21]:
selected_columns = selected_features.columns[selected_features.var() != 0]

# Get the valid dataset with the selected features
valid[selected_columns].head()

        year  currency  country  currency_country  count_7_days
302896  2015        13       22                31        1534.0
302897  2013        13       22                31         625.0
302898  2014         5        9                18         851.0
302899  2014        13       22                31        1973.0
302900  2014         5        9                18        2163.0

### L1 regularization

Univariate methods consider only one feature at a time when making a selection decision. Instead, we can make our selection using all of the features by including them in a linear model with L1 regularization. This type of regularization (sometimes called Lasso) penalizes the absolute magnitude of the coefficients, as compared to L2 (Ridge) regression which penalizes the square of the coefficients.

#### Here's a good article to help with this concept:

https://towardsdatascience.com/intuitions-on-l1-and-l2-regularisation-235f2db4c261

The regularisation terms are ‘constraints’ by which an optimisation algorithm must ‘adhere to’ when minimising the loss function, apart from having to minimise the error between the true y and the predicted $\hat y$. Like a lot of things in machine learning, this is to prevent overfitting. Note that if the expected y, $\hat y$, is just $b$, presumeably the mean of the y values, then regularisation is 0, (there is no punishing effect) because the model has no variance dependent on the training data. We essentially 'push to zero' those coefficients that have a non-negligible error and are not very useful in making predictions. Having a coefficient of 0 in a linear model is equivalent to not being used in the model.

As the strength of regularization is increased, features which are less important for predicting the target are set to 0. This allows us to perform feature selection by adjusting the regularization parameter. We choose the parameter by finding the best performance on a hold-out set, or decide ahead of time how many features to keep.

We can use `sklearn.linear_model.Lasso`, or `sklearn.linear_model.LogisticRegression` for classification. These can be used along with `sklearn.feature_selection.SelectFromModel` to select the non-zero coefficients.

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel

train, valid, _ = get_data_splits(baseline_data)

X, y = train[train.columns.drop('outcome')], train['outcome']

# Set the regularization parameter C=1
logistic = LogisticRegression(C=1, penalty="l1", solver='liblinear', random_state=7).fit(X, y)

In [29]:
model = SelectFromModel(logistic, prefit=True)

X_new = model.transform(X)
X_new

array([[1.000e+03, 1.200e+01, 1.100e+01, ..., 1.900e+03, 1.800e+01,
        1.409e+03],
       [3.000e+04, 4.000e+00, 2.000e+00, ..., 1.630e+03, 3.100e+01,
        9.570e+02],
       [4.500e+04, 0.000e+00, 1.200e+01, ..., 1.630e+03, 3.100e+01,
        7.390e+02],
       ...,
       [2.500e+03, 0.000e+00, 3.000e+00, ..., 1.830e+03, 3.100e+01,
        5.150e+02],
       [2.600e+03, 2.100e+01, 2.300e+01, ..., 1.036e+03, 2.000e+00,
        1.306e+03],
       [2.000e+04, 1.600e+01, 4.000e+00, ..., 9.200e+02, 3.100e+01,
        1.084e+03]])

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

We get back an array with the selected features. As before, we will want to convert these to a DataFrame so we can get the selected columns.

In [45]:
# Get back the kept features as a DataFrame with dropped columns as all 0s

selected_features = pd.DataFrame(model.inverse_transform(X_new), index=X.index,
                                 columns=X.columns)

# Dropped columns have values of all 0s, keep other columns
selected_columns = selected_features.columns[selected_features.var() != 0]

In this case with the L1 parameter `C=1`, we're dropping the `time_since_last_project` column.

In [46]:
selected_features

,goal,hour,day,month,year,category,currency,country,category_currency,category_country,currency_country,count_7_days,time_since_last_project
0,1000.0,12.0,11.0,8.0,2015.0,108.0,5.0,9.0,1215.0,1900.0,18.0,1409.0,0.0
1,30000.0,4.0,2.0,9.0,2017.0,93.0,13.0,22.0,1047.0,1630.0,31.0,957.0,0.0
2,45000.0,0.0,12.0,1.0,2013.0,93.0,13.0,22.0,1047.0,1630.0,31.0,739.0,0.0
3,5000.0,3.0,17.0,3.0,2012.0,90.0,13.0,22.0,1024.0,1595.0,31.0,907.0,0.0
4,19500.0,8.0,4.0,7.0,2015.0,55.0,13.0,22.0,630.0,979.0,31.0,1429.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
302891,12000.0,9.0,24.0,6.0,2015.0,113.0,13.0,22.0,1280.0,2003.0,31.0,1498.0,0.0
302892,2000.0,22.0,23.0,9.0,2014.0,74.0,13.0,22.0,845.0,1325.0,31.0,1369.0,0.0
302893,2500.0,0.0,3.0,10.0,2011.0,104.0,13.0,22.0,1172.0,1830.0,31.0,515.0,0.0
302894,2600.0,21.0,23.0,7.0,2015.0,58.0,1.0,3.0,665.0,1036.0,2.0,1306.0,0.0
302895,20000.0,16.0,4.0,6.0,2013.0,52.0,13.0,22.0,593.0,920.0,31.0,1084.0,0.0

In [47]:
selected_features[selected_columns]

,goal,hour,day,month,year,category,currency,country,category_currency,category_country,currency_country,count_7_days
0,1000.0,12.0,11.0,8.0,2015.0,108.0,5.0,9.0,1215.0,1900.0,18.0,1409.0
1,30000.0,4.0,2.0,9.0,2017.0,93.0,13.0,22.0,1047.0,1630.0,31.0,957.0
2,45000.0,0.0,12.0,1.0,2013.0,93.0,13.0,22.0,1047.0,1630.0,31.0,739.0
3,5000.0,3.0,17.0,3.0,2012.0,90.0,13.0,22.0,1024.0,1595.0,31.0,907.0
4,19500.0,8.0,4.0,7.0,2015.0,55.0,13.0,22.0,630.0,979.0,31.0,1429.0
...,...,...,...,...,...,...,...,...,...,...,...,...
302891,12000.0,9.0,24.0,6.0,2015.0,113.0,13.0,22.0,1280.0,2003.0,31.0,1498.0
302892,2000.0,22.0,23.0,9.0,2014.0,74.0,13.0,22.0,845.0,1325.0,31.0,1369.0
302893,2500.0,0.0,3.0,10.0,2011.0,104.0,13.0,22.0,1172.0,1830.0,31.0,515.0
302894,2600.0,21.0,23.0,7.0,2015.0,58.0,1.0,3.0,665.0,1036.0,2.0,1306.0
302895,20000.0,16.0,4.0,6.0,2013.0,52.0,13.0,22.0,593.0,920.0,31.0,1084.0

In general, feature selection with L1 regularization is more powerful the univariate tests, but it can also be very slow when you have a lot of data and a lot of features. Univariate tests will be much faster on large datasets, but also will likely perform worse.

Note that for tree-based models we can use something like `RandomForestClassifier` or `ExtraTreesClassifier` to find feature importances. `SelectFromModel` can use the feature importances to find the best features.

To select a certain number of features with L1 regularization, you need to find the regularization parameter that leaves the desired number of features. To do this you can iterate over models with different regularization parameters from low to high and choose the one that leaves K features. Note that for the scikit-learn models C is the inverse of the regularization strength, so when `C = 0.1` the regularization is quite strong.